body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    border: 0;
    padding: 0;
}

.main-body {
    max-width: 1200px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin: 0px;
    padding: 20px;
}

.heading > h1 {
    color: aqua;
}

.sub-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}