body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}

.main-body {
    padding: 0px;
    display: flex;
    justify-content:start;
    align-items: center;
    flex-flow: column nowrap;
    background-image: linear-gradient(to top right, #a683e3 50%, #e4e9fd 50%);
    height: 100vh;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin: 0px;
    padding: 20px;
}

.heading > h1 {
    color: #a683e3;
    font-size: 3.5rem;
    font-family: 'Times New Roman', Times, serif;
}

.heading > p {
    font-size: large;
    font-style: italic;
}

.sub-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.sub-body > table, th, td {
    border:1px solid black;
    border-collapse: collapse;
    font-style: oblique;
    width: 1000px;
}

.sub-body > table > th, td {
    padding-left: 10px;
}